<!--Footer-->
<footer class="footer_third">
    <div class="container padding_top">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer_panel bottom30">
                    <a href="#." class="logo bottom30"><img src="/images/logo-white.png" alt="logo"></a>
                    <p class="bottom15">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        tempor cum consectetuer
                        adipiscing.
                    </p>
                    <p class="bottom15">If you are interested in castle do not wait and <a href="#.">BUY IT NOW!</a></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6"></div>
            <div class="col-md-3 col-sm-6"></div>
            <div class="col-md-3 col-sm-6">
                <div class="footer_panel bottom30">
                    <h4 class="bottom30 heading">Menu</h4>
                    <table style="width:100%;">
                        <tbody>
                        <tr>
                            <td>
                                <ul class="links">
                                    <li><a href="#."><i></i>About</a></li>
                                    <li class="active"><a href="#."><i></i>News</a></li>
                                    <li><a href="#."> <i></i>Contacts</a></li>
                                    <li><a href="#."><i></i>Testimonials</a></li>
                                    <li><a href="#."><i></i>Typography</a></li>
                                </ul>
                            </td>
                            <td class="text-right">
                                <ul class="links text-left">
                                    <li><a href="#."><i></i>Services</a></li>
                                    <li class="active"><a href="#."><i></i>Careers</a></li>
                                    <li><a href="#."><i></i>Our team</a></li>
                                    <li><a href="#."><i></i>Shop</a></li>
                                    <li><a href="#."><i></i>Our approach</a></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--CopyRight-->
        <div class="copyright_simple">
            <div class="row">
                <div class="col-md-6 col-sm-5 top20 bottom20">
                    <p>Copyright &copy; 2017 <span>Raise Better</span>. All rights reserved.</p>
                </div>
                <div class="col-md-6 col-sm-7 text-right top15 bottom10">
                    <ul class="social_share">
                        <li><a href="#." class="facebook"><i class="icon-facebook-1"></i></a></li>
                        <li><a href="#." class="twitter"><i class="icon-twitter-1"></i></a></li>
                        <li><a href="#." class="google"><i class="icon-google4"></i></a></li>
                        <li><a href="#." class="linkden"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer ends-->
