<!--Header-->
<div id="mainMenuBarAnchor"></div>
<header class="white_header">
    <nav class="navbar navbar-default bootsnav">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="/images/logo.png" class="logo" alt="" style="width:200px;">
                            <img src="/images/made-in-britain.jpg" class="mib" alt="Made In Britain">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
                            <li v-if="loggedIn"><a href="/home">Home</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li v-if="loggedIn"><a href="/logout">Logout</a></li>
                            <li v-if="!loggedIn"><a href="/login">Login</a></li>
                            <li v-if="!loggedIn"><a href="/sign-up">Sign Up</a></li>
                            <li><a>Contact Us</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--Header Ends-->
