.p20 {
    padding: 20px;
}

.p10 {
    padding: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt40 {
    padding-top: 40px;
}

.pt60 {
    padding-top: 60px;
}

.pt80 {
    padding-top: 80px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb60 {
    padding-bottom: 60px;
}

.pr20 {
    padding-right: 20px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.float-right {
    float: right
}

.btn-slim {
    padding: 5px 10px;
    border-radius: 2px;
}

[hidden] {
    display: none;
}

.bg_edit {
    background-color: #edf3f8;
}

.icons-lg {
    font-size: 60px;
}

.icons-md {
    font-size: 30px;
}

.font-15 {
    font-size: 15px;
}

small.error {
    color: red !important;
}

.profile-login {
    padding: 40px 0px;
}

.bg_edit {
    background-color: #edf3f8;
}

.bg_dblue {
    background-color: #dae1e8;
}

.btn-fb-blue {
    background-color: #3b5998;
    color: white;
}

#messageSection .messages {
    width: 800px;
    padding: 20px 0px;
    margin: 20px auto;
    border: rgba(31, 63, 129, 0.65) 2px solid;
    background: rgba(255, 209, 25, 0.2);
}

#messageSection li.error {
    color: red;
}

#messageSection li.success {
    color: green;
}

.no-tt input {
    text-transform: none !important;
    transition: none !important;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay div {
    margin: 200px auto;
}

#overlay p {
    color: #ffffff;
    padding: 40px;
}

.mib {
    height: 30px;
    width: auto !important;
    padding: 0px 10px;
}

.navbar-brand img {
    display: inline;
}

a.navbar-brand {
    white-space: nowrap;
}

small.error {
    color: red !important;
    text-align: left;
}

.no-tt {
    text-transform: none !important;
    transition: none !important;
}

.messages {
    color: darkred;
    padding: 24px;
    margin: 10px auto 30px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 0.5px solid #1f3f81;
    font-family: robotoregular;
    font-size: 16px;
    width: 500px;
}

button:disabled,
button[disabled] {
    background-color: #cccccc;
    color: #666666;
}
button:disabled:hover,
button[disabled]:hover {
    background-color: #cccccc;
    color: #666666;
}

#cookie-ribbon span:hover {
    cursor: pointer;
}

#cookie-ribbon {
    width: 100%;
    position: fixed;
    bottom: -40px;
    z-index: 999;
    padding: 10px 20px;
    background-color: rgba(31, 63, 129, 0.75);
    color: white;
    box-shadow: 0px -2px 0px rgba(136, 136, 136, 0.55);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-name: divup;
    animation-fill-mode: forwards;
}

@keyframes divup {
    from {
        bottom: -40px;
    }
    to {
        bottom: 0px;
    }
}
